@import './carousel.css';

// Your customize CSS

body{
    background-color: #070112 !important;
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Lobster', cursive !important;
}

.input{
    margin-top: 30px;
}
p{
    color: white;
}
.modal-text{
    color: black !important;
}
.modal-font{
    font-family: 'Fraunces', serif;
}
 .quote {
    font-family: 'Homemade Apple', cursive !important;
 }
 .red{
     color: red;
 }